@import '@style-utils';

.navigation-title {
  position: relative;
  display: flex;
  align-items: center;

  &__title {
    @include OverrideH3;
    margin: 0 auto;

    @include on-tablet {
      @include OverrideH6;
    }
  }

  &__link {
    position: absolute;
    left: 0;
  }

  &__arrow {
    width: 32px;
    height: 32px;

    @include on-tablet {
      width: 22px;
      height: 22px;
    }
  }
}

