@import '@style-utils';

.funds-filter {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  &__button {
    white-space: nowrap;
    width: 100%;
  }

  @include on-tablet {
    gap: 8px;
  }
}