@import '@style-utils';

.funds-filter {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  @include on-tablet {
    gap: 8px;
  }

  @include on-mobile {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__button {
    width: 100%;

    @include on-mobile {
      width: auto;
    }
  }
}