.wrapper-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  width: 420px;
  height: 48px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #929497;
  padding: 14px 16px;
  color: #252527;
  font-family: Roboto, sans-serif;
  outline: transparent 2px solid;
  transition:
          color 0.2s ease-out,
          border-color 0.2s ease-out,
          outline-color 0.2s ease-out;

  &::placeholder {
    color: #929497;
  }

  &:focus {
    outline: #203CAD 2px solid;
    border-color: #203CAD;
  }

  &:hover {
    border-color: #203CAD;
  }

  &--success {
    border-color: #39B557;
    outline: #39B557 1px;
  }

  &--warning {
    border-color: #F1B00E;
    outline: #F1B00E 1px;
  }

  &--error {
    border-color: #DD3522;
    outline: #DD3522 1px;
    pointer-events: none;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.9;
  }
}

.label {
  &--success {
    color: #39B557;
  }

  &--warning {
    color: #F1B00E;
  }

  &--error {
    color: #DD3522;
  }
}