@import '@style-utils';

.instruction {
  height: 288px;

  @include on-tablet {
    height: 203px;
  }

  @include on-mobile {
    height: fit-content;
  }

  &__title {
    @include OverrideH3;
    text-align: center;

    @include on-tablet {
      @include OverrideH6;
    }
  }

  &__numbers {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;

    @include on-mobile {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__hr {
    width: 188px; 
    height: 1px;
    display: block;
    background-color: $color_azure-radiance-700;

    @include on-tablet {
      width: 82px;
    }

    @include on-mobile {
      margin-top: 70px;
      width: 1px;
      height: 82px;
    }
  }

  &__circle {
    width: 116px;
    height: 116px;
    border-radius: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    @include OverrideH2;
    color: $color_azure-radiance-950;

    @include on-tablet {
      width: 68px;
      height: 68px;
      @include OverrideH5;
    }

    &::after {
      display: block;
      content: '';   
      width: 219px;
      @include OverrideH6;
      color: $color_azure-radiance-700;
      text-align: center;
      position: absolute;
      transform: translateY(115px);

      @include on-tablet {
        font-size: 16px;
        transform: translateY(80px);
      }

      @include on-mobile {
        width: 146px;
      }
    }
  }

  .one::after {
    content: "Настисніть “Організувати збір”"; 
    @include on-tablet {
      width: 120px;
    }

    @include on-mobile {
      width: 146px;
    }
  }

  .two::after {
    content: "Авторизуйтеся";   
  }

  .three::after {
    content: "Заповніть всі поля";   
  }

  .four::after {
    content: "Збір створено";  
    @include on-tablet {
      width: 120px;
    }  
  }
}