@import "@style-utils";

.button {
  max-width: 420px;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
  @include transition;
  @include TextButton;
  
  // styles for secondary button
  color: $color_azure-radiance-700;
  background-color: $color_azure-radiance-50;
  border: 1px solid $color_azure-radiance-700;

  &:hover {
    color: $color_azure-radiance-800;
    border-color: $color_azure-radiance-800;
  }
  &:disabled {
    color: $color_mountain-mist-400;
    background-color: $color-mountain-mist-50;
    border-color: $color_mountain-mist-400;
  }

  // styles for primary button
  &--is-primary {
    color: $color_styles-white;
    background-color: $color_azure-radiance-700;
    border-color: $color_azure-radiance-700;

    &:hover {
      background-color: $color_azure-radiance-600;
      color: $color_styles-white;
    }
    &:disabled {
      pointer-events: none;
      background-color: #AEB0B2;
      border: none;
      color: $color_styles-white;
    }
  }
}
