@import '@style-utils';

.reports {
  height: 228px;
  display: flex;
  justify-content: space-evenly;
  padding-block: 40px;
  background-color: $color_azure-radiance-10;
  border-radius: 24px;

  @include on-tablet {
    padding-block: 24px;
    height: 150px;
  }

  @include on-mobile {
    height: 386px;
    flex-direction: column;
  }

  &__report {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__descr {
    @include OverrideH4;
    color: $color_azure-radiance-700;

    @include on-tablet{
      font-size: 24px;
    }

    @include on-mobile{
      font-size: 20px;
    }
  };

  &__title {
    @include OverrideH2;
    color: $color_azure-radiance-950;
    @include on-tablet {
      font-size: 40px;
    }
    @include on-mobile {
      margin-top: 16px;
    }
  }
}