@import 'style-utils';

$preset-font: Roboto, sans-serif;

p, span, h1, h2, h3, h4, h5, h6, label, input, a, ::after {
  font-family: $preset-font;
}

.container {
  width: $tablet-max-width;
  margin: 0 auto;
  position: relative;

  @include on-tablet {
    width: 688px
  }

  @include on-mobile {
    width: $mobile-min-width;
  }
}


.page {
  &__footer {
    margin-top: 106px;

    @include on-tablet {
      margin-top: 80px;
    }
  }

  &__home-page, &__funds-page {
    margin-top: 40px;
  }

  &__home-page {
    @include on-mobile {
      margin-top: 16px;
    }
  }
  
  &__funds-page {
    @include on-tablet {
      margin-top: 16px;
    }
  }
}

html, body {
  scroll-behavior: smooth;
}

.hr {
  height: 1px;
  border: none;
  background-color: #E6E7E7;
}