@import '@style-utils';

.ukraine {
  height: 848px;
  background-image: url('../../assets/images/ukraine.webp');
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 44px;
  row-gap: 229px;
  position: relative;

  @include on-tablet {
    height: 458px;
    display: block;
  }

  @include on-mobile {
    height: 248px;
  }
  
  &__text {
    padding: 8px;
    background-color: rgba(239, 245, 255, 0.7);
    color: $color_azure-radiance-900;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    @include OverrideH4;

    @include on-tablet {
      font-size: 18px;
      position: absolute;

      &--one {
        width: 393px;
        top: 55px;
        left: 0;

        @include on-mobile {
          width: 212px;
          top: 0;
          left: 0;
        }
      }

      &--two {
        width: 212px;
        top: 127px;
        right: 0;

        @include on-mobile {
          width: 152px;
          top: 45px;
          right: 0;
        }
      }

      &--three {
        width: 393px;
        top: 270px;
        left: 0;

        @include on-mobile {
          width: 212px;
          top: 140px;
          left: 0;
        }
      }

      &--four {
        width: 334px;
        bottom: 40px;
        right: 0;

        @include on-mobile {
          width: 152px;
          right: 0px;
          bottom: 0px;
        }
      }
    }

    @include on-mobile {
      font-size: 14px;
      font-weight: 400;
      padding: 0;
    }
  }

  &__desktop-top {
    align-self: flex-end;
  }

  &__desktop-bottom {
    align-self: flex-start;
  }

  &__logo-wrapper {
    background-color: rgba(169, 188, 255, 0.4);
    width: 116px;
    height: 116px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    @include on-tablet {
      width: 72px;
      height: 72px;
    }

    @include on-mobile {
      width: 40px;
      height: 40px;
      top: 45%;
    }
  }

  &__logo {
    @include on-tablet {
      width: 42px;
      height: 32px;
    }

    @include on-mobile {
      width: 16px;
      height: 12px;
    }
  }
}