$color_azure-radiance-10: #F9FBFF;
$color_azure-radiance-50: #EFF5FF;
$color_azure-radiance-100: #DBE9FE;
$color_azure-radiance-200: #C0D9FD;
$color_azure-radiance-500: #3576F3;
$color_azure-radiance-600: #285DE8;
$color_azure-radiance-700: #1F48D6;
$color_azure-radiance-800: #203CAD;
$color_azure-radiance-900: #1F3789;
$color_azure-radiance-950: #182353;


$color_mountain-mist-50: #F5F6F6;
$color_mountain-mist-100: #E6E7E7;
$color_mountain-mist-400: #929497;
$color_mountain-mist-700: #4B4C4F;
$color_mountain-mist-800: #444546;
$color_mountain-mist-900: #3B3C3E;
$color_mountain-mist-950: #252527;


$color_system-error: #DD3522;
$color_system-success: #39B557;
$color_system-info: #0C51F3;
$color_system-warning: #F1B00E;


$color_styles-black: #0E0E0E;
$color_styles-white: #FFFFFF;