.main-page {
  &__hero {
    margin-top: 40px;
  }

  &__funds {
    margin-top: 155px;
  }

  &__reports {
    margin-top: 124px;
  }

  &__ukraine, &__instruction, &__top-volunteers {
    margin-top: 112px;
  }
}