.main-page {
  &__hero {
    margin-top: 40px;
  }

  &__fundraisers {
    margin-top: 155px;
  }

  &__reports {
    margin-top: 124px;
  }

  &__ukraine {
    margin-top: 112px;
  }

  &__instruction {
    margin-top: 112px;
  }

  &__top-volunteers {
    margin-top: 112px;
  }
}