@import "@style-utils";

.hero {
  padding: 40px;
  background-image: url('../../assets/images/hero.webp');
  height: 625px;
  border-radius: 24px;
  background-size: cover;
  background-position: center top -150px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-inline: 0;
    background-position: center;
    height: 412px;
  }

  @include on-mobile {
    padding: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 24px;
    height: 625px;
    background-color: rgba(31, 72, 214, 0.2);
    z-index: 1;
    @include on-tablet {
      height: 412px;
    }
  }

  &__title {
    @include OverrideH1;
    color: $color_styles-white;
    text-align: center;
    z-index: 2; 

    @include on-tablet {
      font-size: 49px;
    }

    @include on-mobile {
      font-size: 28px;
    }
  }

  &__button {
    width: 440px;
    z-index: 2;

    @include on-mobile {
      font-size: 16px;
      width: 100%;
    }
  }
}