@import "@style-utils";

.hero {
  padding: 40px;
  background-image: url('../../assets/images/hero.jpeg');
  height: 625px;
  border-radius: 24px;
  object-fit: cover;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 24px;
    height: 625px;
    background-color: rgba(31, 72, 214, 0.2);
    z-index: 1; 
  }

  &__title {
    @include OverrideH1;
    color: $color_styles-white;
    text-align: center;
    z-index: 2; 
  }

  &__button {
    width: 440px;
    z-index: 2; 
  }
}