.hero {
  padding: 40px;
  background: url('https://eu-solidarity-ukraine.ec.europa.eu/sites/default/files/styles/oe_theme_full_width/public/2023-02/UA%20Resistance.jpg?itok=AP4SEYDd');
  height: 625px;
  border-radius: 24px;
}