@import "@style-utils";

.header {
  @include page-grid;
  height: var(--header-height);
  align-items: center;
  color: $color_mountain-mist-700;

  @include on-tablet {
    display: flex;
    justify-content: space-between;
  }

  &__links {
    grid-column: 3 / 13;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    @include transition;

    @include on-mobile {
      top: var(--header-height);
      width: $mobile-min-width;
      position: absolute;
      height: $mobile-links-height;
      justify-content: initial;
      display: grid;
      grid-template-rows: 3fr 2fr;
      transform: translateY(calc((-1 * var(--header-height)) - $mobile-links-height));
      z-index: 10;
    }

    &--active {
      transform: translateY(0); 
    }
  }

  &__logo {
    grid-column: 1;
  }

  &__burger {
    position: absolute;
    top: -100%;

    @include on-mobile {
      position: static;
    }
  }
}


