@import "@style-utils";

.header {
  height: 97px;
  @include page-grid;

  align-items: center;
  color: $color_mountain-mist-700;

  @include on-tablet {
    height: 80px;
  }
  
  &__logo {
    grid-column: 1;
  }

  &__nav {
    grid-column: 3 / 6;
    white-space: nowrap;
  }

  &__actions {
    grid-column: 12;
    white-space: nowrap;
    grid-column-end: span 2;
  }

  &__list {
    display: flex; 
  }

  &__link {
    margin-right: 46px;

    @include on-tablet {
      margin-right: 24px;
    }
  }

  .actions {
    &__wrapper {
      display: flex;
      justify-content: end;
    }

    &__link:last-child {
      margin-left: 46px;
    }
  }

  @include on-tablet {
    display: flex;
    justify-content: space-between;
  }
}


