.custom-link {
  color: #4B4C4F;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease-out;

  &:after {
    background-color: #4B4C4F;
  }

  &:hover {
    color: #0e0e0e;

    &:after {
      background-color: #0e0e0e;
    }
  }

  &--active {
    position: relative;

    &:after {
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
    }
  }

  &--primary {
    color: #1F48D6;

    &:after {
      background-color: #1F48D6;
    }

    &:hover {
      color: #203CAD;

      &:after {
        background-color: #203CAD;
      }
    }
  }

  &--disabled {
    pointer-events: none;
    color: #929497;

    &--active{

    }

    &:after {
      background-color: #929497;
    }
  }
}