@import "../ui-common-styles/colors";

.custom-link {
  max-width: fit-content;
  margin-bottom: 16px;
  color: $color_mountain-mist-700;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 6px;
  transition: color 0.2s ease-out;

  &:after {
    background-color: $color_mountain-mist-700;
  }

  &:hover {
    color: $color_styles-black;
  }

  &--primary {
    color: $color_azure-radiance-700;

    &:hover {
      color: $color_azure-radiance-800;
    }
  }

  &--disabled {
    pointer-events: none;
    color: $color_mountain-mist-400;
  }
}