@import '@style-utils';

.fund-card {
  background-image: url('../../assets/images/fund3.jpeg');
  background-size: cover;
  width: 440px;
  height: 435px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 8px;

  @include on-tablet {
    width: 216px;
    height: 224px;
    padding: 16px;
  }

  @include on-mobile {
    width: 100%;
    height: 296px;
  }

  &__title {
    width: 100%;
    height: 68px;
    @include OverrideH6;
    background-color: rgba(239, 245, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    padding: 8px;

    @include on-tablet {
      font-size: 13px;
      height: 40px;
      padding: 4px;
    }
  }

  &__date {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    color: $color-styles-white;
    
    @include on-tablet {
      margin-top: 8px;
    }

    p {
      @include RobotoRegular;
      @include on-tablet {
        font-size: 12px;
      }
    }
    span {
      @include RobotoBold;
      @include on-tablet {
        font-size: 13px;
      }
    }
  }

  &__button {
    margin-top: 16px;
    @include on-tablet {
      margin-top: 8px;
      font-size: 14px;
      height: 32px;
    }

    @include on-mobile {
      margin-top: 24px;
    }
  }
}