@import '@style-utils';

.top-volunteers {
  background-color: rgba(239, 245, 255, 0.7);
  border-radius: 24px;
  padding: 60px;

  @include on-tablet {
    padding: 24px;
  }

  @include on-mobile {
    padding: 16px;
  }
 
  &__title {
    @include OverrideH3;
    text-align: center;

    @include on-tablet {
      display: none;
    }
  }
}