@import '@style-utils';

.top-volunteers {
  &__list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 39px;

    @include on-tablet {
      margin-top: 0px;
      gap: 20px;
    }

    @include on-mobile {
      width: 100%;
    }
  }
}