@import "@style-utils";

.footer {
  bottom: 0;
  height: $footer-height;
  background-color: #DBE9FE;
  padding-block: 40px;

  &__wrapper {
    // display: grid;
    // grid-template-columns: 210px 345px 552px 253px;
    @include page-grid;
    height: 100%;
  }

  &__logo {
    align-self: end;
    grid-column: 1;
  }

  &__nav {
    grid-column: 3 / 6;
  }

  &__social-links {
    grid-column: 6 / 9;
  }

  &__company-name {
    grid-column: 11;
    white-space: nowrap;
    grid-column-end: span 2;
  }

  &__list {
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    margin-right: 46px;
  }

  &__company-name {
    @include NavigationText;
    align-self: end;
  }
}
