@import "@style-utils";

.filter-button {
  padding: 14px 16px;
  border-radius: 200px;
  border: none;
  @include RobotoBold;
  @include transition;
  color: $color_azure-radiance-950;
  background-color: #EFF5FF;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;

  @include on-tablet {
    padding: 11px 16px;
    width: 108px;
    height: 52px;
    font-size: 13px;
    white-space: wrap;
  }

  @include on-mobile {
    flex-shrink: 0;
    width: 153px;
    height: 44px;
    padding: 0 11px;
  }

  &--active {
    border-color: $color_azure-radiance-800;
  }
}
