@import "@style-utils";

.filter-button {
  // height: 52px;
  padding: 14px 16px;
  border-radius: 200px;
  border: none;
  @include RobotoBold;
  @include transition;
  color: $color_azure-radiance-950;
  background-color: #EFF5FF;
  border: 1px solid transparent;
  cursor: pointer;

  &--active {
    border-color: $color_azure-radiance-800;
  }

  @include on-tablet {
    padding: 11px 16px;
    width: 108px;
    font-size: 13px;
    white-space: wrap;
  }
}
