@mixin TextButton {
  font-weight: 500;
  font-size: 18px;
}

@mixin OverrideH1 {
  font-weight: 700;
  font-size: 86px;
}

@mixin OverrideH2 {
  font-weight: 700;
  font-size: 60px;
}

@mixin OverrideH3 {
  font-weight: 500;
  font-size: 40px;
}

@mixin OverrideH4 {
  font-weight: 700;
  font-size: 32px;
}

@mixin OverrideH5 {
  font-weight: 600;
  font-size: 28px;
}

@mixin OverrideH6 {
  font-weight: 500;
  font-size: 24px;
}

@mixin RobotoRegular {
  font-weight: 400;
  font-size: 16px;
}

@mixin RobotoBold {
  font-weight: 700;
  font-size: 16px;
}

@mixin BodyTextRegular {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

@mixin NavigationText {
  font-weight: 500;
  font-size: 16px;
  color: $color_mountain-mist-700;
}
