@import '@style-utils';

.volunteer-card {
  height: 268px;
  width: 387px;
  background-image: url('../../assets/images/volunteer.jpeg');
  background-size: cover;
  background-position: center center;
  border-radius: 16px;
  padding: var(--volunteer-card-padding);
  position: relative;

  @include on-tablet {
    width: 200px;
    height: 162px;
  }

  @include on-mobile {
    width: 100%;
    height: 270px;
  }

  &__info {
    position: absolute;
    bottom: calc(0px + var(--volunteer-card-padding));
    left: calc(0px + var(--volunteer-card-padding));
    width: fit-content;
    height: 78px;
    background-color: rgba(239, 245, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include on-tablet {
      height: 54px
    }
  }

  &__name {
    @include OverrideH6;

    @include on-tablet {
      font-size: 14px;
    }

    @include on-mobile {
      font-size: 16px;
    }
  }

  &__amount {
    @include on-tablet {
      font-size: 13px;
    }

    @include on-mobile {
      font-size: 14px;
    }
  }
}