@import '@style-utils';

.actions {
  @include on-mobile {
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: end;
    align-items: center;

    @include on-mobile {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 100%;
    }
  }

  &__link {
    background-color: transparent;
    border: none;

    @include on-mobile {
      text-align: center;
    }

    &--primary {
      border-bottom: 1px solid $color_azure-radiance-700;
      padding: 0;
    }
  }

  &__link:last-child {
    margin-left: 46px;

    @include on-mobile {
      margin-left: 0;
    }
  }
}