@import "@style-utils";

.not-found-page {
  padding-block: 145px 248px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include on-tablet {
    padding-block: 130px;
  }

  &__title {
    @include OverrideH2;
  }

  &__description {
    @include OverrideH6;
    text-align: center;
    margin-top: 40px;

    @include on-tablet {
      width: 452px;
      margin-top: 16px;
    }
  }

  &__button {
    margin-top: 32px;
    width: 400px;

    @include on-tablet {
      width: 275px;
      font-size: 16px;
    }
  }
}